html,
body{
    height: 100vh;
    background: rgb(91,91,91);
    background: radial-gradient(circle, rgba(91,91,91,1) 0%, rgba(37,37,37,1) 89%);
}

#songs{
    
}
#map{
    height: 500px;
    width: 80%;
    display: none;
}

#slogan{
    color:white;
    font-style: italic;
}

#logo{
    font-family: 'Fira Sans', sans-serif;
    font-size: 80px;
    text-decoration: none;
    color: white;
}

.weather-data{
    color:white;
    font-weight: bold;
}

#genreButtons{
    display:none;
}
