<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>REJL</title>
</head>
<body>
    <div class=" row d-flex justify-content-center">
        <a href="/" id="logo">REJL</a>
        <div class="row d-flex justify-content-center">
            <p id="slogan" class="pb-5">Discover music that fits the weather at your current location!</p>
        </div>
    </div>

    <div>
    <h1>REJL:s API</h1>
    <p>Detta är ett studentprojekt del av kursen <a href="https://mau.se/sok-utbildning/kurser/DA358A">"Datavetenskap: Storskaliga webbtjänster"</a> på Malmö Universitet.</p>
    <p>REJL är en musiktjänst som låter användare få förslag på musik inom en specifik genre beroende på vädret på en specifik plats på jorden.</p>
    <p>REJL har skapat ett mashup API för att enkelt kunna hämta data på vädret baserat på koordinater och samköra det med Spotify och deras "låtvärde" "Valence" som bestämmer hur "glad" eller "ledsen" en låt är.</p>
    
    <h1>API-beskrivning</h1>
    <p></p>

    <h2>GET /</h2>
    <p></p>
    <h3>Indata</h3>
    <p>Ej möjligt för GET.</p>
    <h3>Returdata</h3>
    <pre>
        <code>

        </code>
    </pre>

    <h2>GET /api/weather/:latitude/:longitude</h2>
    <p></p>
    <h3>Indata</h3>
    <p>Ej möjligt för GET.</p>
    <h3>Returdata</h3>
    <pre>
        <code>

        </code>
    </pre>

    <h2>GET /login</h2>
    <p></p>
    <h3>Indata</h3>
    <p>Ej möjligt för GET.</p>
    <h3>Returdata</h3>
    <pre>
        <code>

        </code>
    </pre>

    <h2>GET /callback/</h2>
    <p></p>
    <h3>Indata</h3>
    <p>Ej möjligt för GET.</p>
    <h3>Returdata</h3>
    <pre>
        <code>

        </code>
    </pre>

    <h2>GET /api/tracks/:weather/:genre</h2>
    <p></p>
    <h3>Indata</h3>
    <p>Ej möjligt för GET.</p>
    <h3>Returdata</h3>
    <pre>
        <code>

        </code>
    </pre>

    <h2>GET /api/playlist</h2>
    <p></p>
    <h3>Indata</h3>
    <p>Ej möjligt för GET.</p>
    <h3>Returdata</h3>
    <pre>
        <code>

        </code>
    </pre>

    </div>    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALNSg4-mot96aQpauSbHWln_tZMCvx5fw&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
</body>
</html>