<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="REJL">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>REJL</title>
</head>
<body>
    <div class="container">
        <div class="pt-3">
            
            <div class="d-flex justify-content-center">
                <a href="/" class="d-flex " id="logo">REJL</a>
            </div>
            
            <div class="d-flex justify-content-center">
                <p id="slogan">Discover music that fits the weather at your location!</p>
            </div>
            <div class="d-flex justify-content-center mt-1">
                <a href="/apidoc" class="text-center mb-3" id="api_doc" target="_blank">API dokumentation</a>
            </div>
            <div class="d-flex justify-content-center mt-4 ">
                <img src="{{userPic}}" class="rounded-circle" alt="profileimage" width="40" height="40"> <a href="{{UserUrl}}" target="_blank" id="logged_in" class="d-flex p-2">{{userName}}</a>
            </div>
            
            

            <div id="buttons">
                <div class="d-flex justify-content-center pt-5 weather-data">
                    <button type="button" class="btn btn-outline-light btn-lg"  id="posBtn" onclick="getCurrentLocation()">Använd min position!</button>
                </div>

                <div class="d-flex justify-content-center pt-5 weather-data">
                    <button type="button" class="btn btn-outline-light btn-lg" id="mapBtn" onclick="toggleMap()">Eller välj en position på en karta!</button>
                </div>
            </div> 
            <div class="d-flex justify-content-center">
            <div id="map" class="row align-items-center "></div>
            </div>
            <div class="d-flex justify-content-center weather-data">
                <div id="symbol"></div>
            </div> 
            <div class="d-flex justify-content-center weather-data h1">
                <p id="temp"></p>
            </div>

            <div class="d-flex justify-content-center weather-data h3">
                <p id="locationHtml"></p>
            </div> 
            
            
            
            <div class="d-flex justify-content-center weather-data">
                <p id="current_weather"></p>
            </div>  
            
            <div class="d-flex justify-content-center text-white">
                <em><small><p id="coords"></p> </small></em>
            </div> 

                        
        </div>
        
        <div class="d-flex flex-wrap justify-content-center" id="songs">

            <!-- Här kommer alla låtar som cards-->
        </div>

        

        <div class="d-flex justify-content-center mt-1" >
            <img src="/img/loading3.svg" alt="loading...." width="50" height="50" class="loading mt-3">
        </div>

        <div class="d-flex justify-content-center">
            <div id="genreButtons">
                <input type="button" class="btn btn-outline-light m-2" value="pop" onclick="fetchTracks(this.value)">

                <input type="button" class="btn btn-outline-light m-2" value="chill" onclick="fetchTracks(this.value)">

                <input type="button" class="btn btn-outline-light m-2" value="funk" onclick="fetchTracks(this.value)">

                <input type="button" class="btn btn-outline-light m-2" value="hip-hop" onclick="fetchTracks(this.value)">

                <input type="button" class="btn btn-outline-light m-2" value="rock" onclick="fetchTracks(this.value)">

                <input type="button" class="btn btn-outline-light m-2" value="soul" onclick="fetchTracks(this.value)">
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <input type="button" class="btn btn-outline-light m-5 more_songs col-5" value="Ladda fler låtar!" onclick="$('#genreButtons').fadeIn(), window.scrollTo(0,document.body.scrollHeight)">
            <button type="button" class="btn btn-outline-light m-5 more_songs" onclick="createPlaylist()"><span class="iconify" data-icon="mdi-spotify"></span>  Skapa spellista!</button>
        </div>
        
         
        

        
    </div>
    <script>
        var userId = {};
        userId.userId = '{{userId}}';
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALNSg4-mot96aQpauSbHWln_tZMCvx5fw&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
    <script src="/maps.js"></script>
    <script src="/displayContent.js"></script>
</body>
</html>
