<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="REJL">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>REJL</title>
</head>
<body>
    <div class="container">
        <div class="row d-flex pt-3">


           
            <div class="d-flex justify-content-between">
                
                <a href="/" class="d-flex justify-content-start" id="logo">REJL</a>
                <p id="logged_in" class="d-flex justify-content-end pt-3">Logged in as:</p>
            </div>
                <p id="slogan" class="d-flex justify-content-start">Discover music that fits the weather at your current location!</p>

            <div id="buttons">
                <div class="d-flex justify-content-center pt-5 weather-data">
                    <button type="button" class="btn btn-outline-light btn-lg" id="posBtn" onclick="getCurrentLocation()">Använd min position!</button>
                </div>

                <div class="d-flex justify-content-center pt-5 weather-data">
                    <button type="button" class="btn btn-outline-light btn-lg" id="mapBtn" onclick="toggleMap()">Eller välj en position på en karta!</button>
                </div>
            </div> 
            
            <div id="map" class="row align-items-center "></div>

            <div class="d-flex justify-content-center weather-data">
                <p id="symbol"></p>
            </div> 

            <div class="d-flex justify-content-center weather-data">
                <p id="locationHtml"></p>
            </div> 
            <div class="d-flex justify-content-center weather-data">
                <p id="coords"></p> 
            </div> 
            <div class="d-flex justify-content-center weather-data">
                <p id="current_weather"></p>
            </div>  
            <div class="d-flex justify-content-center weather-data">
                <p id="temp"></p>
            </div>

            <div class="d-flex justify-content-center">
                <div class="row col-6" id="genreButtons">
                    <input type="button" class="btn btn-outline-light mt-3" value="pop" onclick="fetchTracks(this.value)">

                    <input type="button" class="btn btn-outline-light mt-3" value="chill" onclick="fetchTracks(this.value)">

                    <input type="button" class="btn btn-outline-light mt-3" value="funk" onclick="fetchTracks(this.value)">
                </div>
            </div>

            <div class="d-flex justify-content-center">
                <div class="list-group col-7" id="songs"></div>
            </div>


            <!-- <div class="d-flex justify-content-center">
                <div class="col">
                    <iframe src="https://open.spotify.com/embed/track/0xfpnnU2xGRDfaAXLqe6Je" width="800" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>  
                </div>
            </div> -->
        </div>
         
        


    </div>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALNSg4-mot96aQpauSbHWln_tZMCvx5fw&callback=initMap&libraries=&v=weekly" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/script.js"></script>
    <script src="/maps.js"></script>
</body>
</html>
